<!DOCTYPE html>
<html>
<head>
  <title>SFY Transrun pvt. ltd.</title>
  <link rel="stylesheet" type="text/css" href="../assets/saveyourfuel.css">
  <meta charset="utf-8" />
  <meta name="description" content="SAVE YOUR FUEL" />
  <meta name="keywords" content="SAVE YOUR FUEL" />
  <meta name="robots" content="SAVE YOUR FUEL" />
  <meta http-equiv="author" content="Arjun Sankhala">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="Tue, 04s Apr 2050 23:59:59 GMT" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="text/javascript" src="../assets/jquery-3.3.1.js"></script> <!--important-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<body>

<script src="../../assets/js/scroll.js"></script>
<script src="../../assets/js/open.js"></script>
<script src="../../assets/js/scrolleffect.js"></script>
{{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}


{{{body}}}

<div class="site_end container" id="mycontact">
<hr>
  <div class="row end">
      <div class="col-sm-6 end_first">
      <form action="/users/email" method="post" class="email">
        <div class="row form-group justify-content-center">
          <div class="col-sm-6 form_name"><input type="text" class="form-control " id="name_field" aria-describedby="Your name" placeholder="Name" maxlength="30" name="user_name"></div>
          <div class="col-sm-6 form_name"><input type="tel" class="form-control form_ph" id="ph_field" aria-describedby="Your Contact" placeholder="Contact number" maxlength="10" name="user_ph"></div>
        </div>
        <textarea class="form-control" id="quert_Textarea1" rows="5" placeholder="Write your query here." name="user_query"></textarea>
        <div class="send_button"><button type="submit"  class="btn btn-info">Send</button></div>
      </form> 
      </div>
      <div class="col-sm-3 end_second">
        <h5 class="officeAdd">Office Address :</h5>
        <p class="l1"><em>Regd. office - Munjal complex shop no. 201, building no. 4, Rothak - 124001(HR)</em></p>
        <p class="l1"><em><strong>E-mail: </strong><span class="email">saveyourfuel2@gmail.com</span></em></p>
        <p class="l1 ph"><em><strong>Contact number: </strong><span class="email">(+91)8950889889</span></em></p>
      </div>
      <div class="col-sm-3 end_third">
        <h5 class="officeAdd">Follow us :</h5>
        <ul class="list-unstyled social">
            <li class="play"><a href="https://play.google.com/store/apps/details?id=com.saveyourfuel.saveyourfuel" class="social_link">Google Play Store</a></li>
            <li class="facebook"><a href="https://www.Facebook.com" class="social_link">Facebook</a></li>
            <li class="twitter"><a href="https://www.Twitter.com" class="social_link">Twitter</a></li>
            <li class="youtube"><a href="https://www.Youtube.com" class="social_link">Youtube</a></li>
            <li class="pinterest"><a href="https://www.Pinterest.com" class="social_link">Pinterest</a></li>
        </ul>
      </div>
  </div>

  <div class="copyright container">
    <hr>
    <footer>
    <p class="copyright"><small><span class="copyright">COPYRIGHT &copy; 2018 || SYF TRANSRUN PTV. LTD</span></small></p>
    </footer>
  </div>
</div>

<script type="text/javascript" src="../assets/particles.js"></script>
<script type="text/javascript" src="../assets/app.js"></script>



  <script type="text/javascript" src="../assets/jquery-3.3.1.js"></script> <!--important-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="../assets/js/scrolleffect.js"></script>

</body>
</html>